.App {
  padding: 30px;
  width: 700px;
}
.NavBar {
  padding-bottom: 30px;
}

.cardButton {
  width: 100%
}

.cardButtonContainer {
  width: 100%
}

.newProductCard {
  width: 600px;
}

.editProductCard {
  width: 600px;
}

.addView {
text-align: center;
}
.addHeader {
  padding-bottom: 50px;
}

.invalidCity {
  color: red;
  padding-bottom: 20px;
}